.deps/
.libs/
00053/
Makefile
Makefile.in
*.m4
*.la
*.lo
*.o
*.a
*.so
autom4te.cache/
componentinfo.dtd
config.guess
config.h
config.h.in
config.log
config.status
config.sub
configure
depcomp
install-sh
libtool
ltmain.sh
missing
spwTest
stamp-h1
starconf.status
*.ok
.*.ok

# Editor temp files
*~

# Mac OSX
*.dSYM
._*
